---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog - Dawid Seipold" description='Read the latest posts from Dawid Seipold, a Frontend Developer based in Bydgoszcz. Explore articles on coding, fitness, mountain biking, and trading.'>
	<div class="prose flex justify-center text-center mx-auto">
		<h1>Coming soon...</h1>
	</div>
</Layout>