---
import ContactForm from '../components/contact/form';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Contact - Dawid Seipold" description='Get in touch with me, a Frontend Developer based in Bydgoszcz. Reach out for collaboration, project inquiries, or just to connect.'>
	<div class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-16">
		<div class="flex flex-col gap-y-4 max-w-prose mx-auto">
			<h1 class="text-4xl lg:text-6xl font-bold tracking-wide lg:mb-4">Contact</h1>
			
			<p class="text-white/75 mb-4 max-w-prose text-lg lg:text-xl">
				Feel free to reach out to me for any inquiries or opportunities. You can contact me directly via the form or use any of the social media below to get in touch.
			</p>

			<ul class="flex md:flex-col gap-x-2 md:gap-y-2">
				<a href="mailto:contact@dawidseipold.com" target="_blank" rel="noopener noreferrer" class="w-max">
					<li class="flex gap-x-2 items-center">
						<Icon name='mail' class='w-12 h-12 lg:w-10 lg:h-10 p-2 rounded-xl border-default' />
						<span class="hidden md:flex">mail@mail.to</span>
					</li>
				</a>

				<a href="https://github.com/dawidseipold" target="_blank" rel="noopener noreferrer" class="w-max">
					<li class="flex gap-x-2 items-center w-max">
						<Icon name='github' class='w-12 h-12 lg:w-10 lg:h-10 p-2 rounded-xl border-default' />
						<span class="hidden md:flex">dawidseipold</span>
					</li>
				</a>

				<a href="https://x.com/dawidseipold" target="_blank" rel="noopener noreferrer" class="w-max">
					<li class="flex gap-x-2 items-center w-max">
						<Icon name='twitter' class='w-12 h-12 lg:w-10 lg:h-10 p-2 rounded-xl border-default' />
						<span class="hidden md:flex">dawidseipold</span>
					</li>
				</a>

				<a href="https://maps.app.goo.gl/BVBXGgu6KCq7WFui9" target="_blank" rel="noopener noreferrer" class="w-max">
					<li class="flex gap-x-2 items-center w-max">
						<Icon name='location' class='w-12 h-12 lg:w-10 lg:h-10 p-2 rounded-xl border-default' />
						<span class="hidden md:flex">Bydgoszcz, Poland</span>
					</li>
				</a>

				<!-- <a href="tel:+48000000">
					<li class="flex gap-x-2 items-center">
						<Icon name='phone' class='w-12 h-12 md:w-10 md:h-10 p-2 rounded-xl border-default' />
						<span class="hidden md:flex">+4800000000</span>
					</li>
				</a> -->
			</ul>
		</div>
		
		<ContactForm client:load />
	</div>
</Layout>