---
import Layout from '../layouts/Layout.astro';
import Background from '../components/index/background'
---

<Layout title="Dawid Seipold" description="Welcome to the portfolio of Dawid Seipold, a passionate Frontend Developer based in Bydgoszcz. Explore my work, skills, and interests in web development.">
	<div class="flex flex-col gap-y-8">
		<div class="flex flex-col gap-y-4 md:items-center md:text-center z-20">
			<span id="dynamic-text" class="text-secondary font-bold capitalize text-2xl">frontend developer</span>
			<h1 class="text-4xl md:text-6xl lg:text-8xl font-bold font-heading">Dawid Seipold</h1>
			<p class="text-lg lg:text-xl max-w-prose text-white/75">
				Experienced <b>Frontend Developer</b> with expertise in <b>React</b>, <b>Svelte</b> and <b>NextJS</b>. Passionate about exploring new technologies and contributing to impactful projects. Enthusiastic about <b>Backend Development</b>.
			</p>
		</div>

		<div class="flex gap-x-2 md:justify-center md:items-center z-20">
			<a href="/about" class="btn btn-secondary">
				Learn More
			</a>

			<a href="/resume.pdf" target="_blank" class="btn btn-ghost">
				Resume
			</a>
		</div>

		<Background client:load />
	</div>

</Layout>
