---
import Layout from '../layouts/Layout.astro';
import Background from '../components/index/background'
---

<Layout title="Dawid Seipold">
	<div class="flex flex-col gap-y-8">
		<div class="flex flex-col gap-y-4 md:items-center md:text-center z-10">
			<span id="dynamic-text" class="text-secondary font-bold capitalize text-2xl">frontend developer</span>
			<h1 class="text-4xl md:text-6xl lg:text-8xl font-bold">Dawid Seipold</h1>
			<p class="text-lg lg:text-xl max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint soluta, quasi praesentium dolor dolore numquam consectetur perspiciatis facilis?</p>
		</div>

		<div class="flex gap-x-2 md:justify-center md:items-center z-10">
			<a href="/about" class="btn btn-secondary">
				Learn More
			</a>

			<a href="/Dawid_Seipold_CV.pdf" class="btn btn-ghost">
				Resume
			</a>
		</div>

		<Background client:load />
	</div>

</Layout>

<script>
	// const dynamicText = document.getElementById('dynamic-text');
	// const roles = ['frontend developer', 'backend developer', 'software engineer'];
	// let index = 0;

	// if (dynamicText) {
	// 	setInterval(() => {
	// 		index = (index + 1) % roles.length;
	// 		dynamicText.textContent = roles[index];
	// 	}, 3000)
	// }
</script>
