---
import type { ProjectCardProps } from '../../components/projects/card.astro';
import Card from '../../components/projects/card.astro';
import Layout from '../../layouts/Layout.astro';

const projects: ProjectCardProps[] = [
  {
    title: 'Project 1',
    description: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    image: {
      src: '/placeholder.png',
      alt: 'Placeholder image',
    },
    href: {
      details: '/projects/something',
      repo: 'https://github.com/repo',
      source: 'https://source.com',
    },
    tags: ['tag1', 'tag2'],
  },
  {
    title: 'Project 1',
    description: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    image: {
      src: '/placeholder.png',
      alt: 'Placeholder image',
    },
    href: {
      details: '/projects/else',
      repo: 'https://github.com/repo',
      source: 'https://source.com',
    },
    tags: ['tag1', 'tag2'],
  },
  {
    title: 'Project 1',
    description: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    image: {
      src: '/placeholder.png',
      alt: 'Placeholder image',
    },
    href: {
      details: '/projects/here',
      repo: 'https://github.com/repo',
      source: 'https://source.com',
    },
    tags: ['tag1', 'tag2'],
  },
]
---

<Layout title="Projects">
  <div class="flex flex-col gap-y-4 md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-x-4">
    {projects.map((project) => (
      <Card {...project} />
    ))}
  </div>
</Layout>