---
import { Icon } from 'astro-icon/components'
---


<span class="group flex gap-x-1 mt-4 justify-center items-center text-center cursor-default">
  Built by <a href="https://www.github.com/dawidseipold" target="_blank" rel="noopener noreferrer" class="tracking-wide">Dawid Seipold</a> with <Icon name="heart" class='transition-colors group-hover:text-error' />
</span>