---
import { tv, type VariantProps } from 'tailwind-variants'

export type Color = VariantProps<typeof variants>['color'];

interface Props {
  className?: string;
  color?: Color;
  href: string;
  title: string;
  active: boolean;
}

const variants = tv({
  base: 'btn bg-base-300 border-default w-12 h-12 rounded-2xl shadow-xl p-0',
  variants: {
    color: {
      primary: 'group-data-[active=true]:bg-primary hover:bg-primary',
      info: 'group-data-[active=true]:bg-info hover:bg-info',
      success: 'group-data-[active=true]:bg-success hover:bg-success',
      warning: 'group-data-[active=true]:bg-warning hover:bg-warning',
      error: 'group-data-[active=true]:bg-error hover:bg-error',
    }
  },
  defaultVariants: {
    color: 'primary'
  }
})

const { className, color, href, title, active } = Astro.props;
---

<button class="tooltip group after:hidden before:bottom-16 before:p-2 before:rounded-xl" data-tip={title} data-active={String(active)}>
  <a href={href} class={variants({ className, color })}>
    <slot />
  </a>
</button>